<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/kind">
        <mat-icon>calendar_month</mat-icon>
        <span class="navigation-label">kind</span>
      </a>
      <a mat-list-item routerLink="kind-date-filter-validation">
        <mat-icon>calendar_month</mat-icon>
        <span class="navigation-label">filter</span>
      </a>
      <a mat-list-item routerLink="kind-date-min-max-validation">
        <mat-icon>calendar_month</mat-icon>
        <span class="navigation-label">min-max</span>
      </a>
      <a mat-list-item routerLink="kind-date-date-range-picker">
        <mat-icon>calendar_month</mat-icon>
        <span class="navigation-label">range</span>
      </a>
      <a mat-list-item routerLink="kind-start-date">
        <mat-icon>calendar_month</mat-icon>
        <span class="navigation-label">start</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-main [title]="title"></app-main>
  </mat-sidenav-content>
</mat-sidenav-container>
