<section>
  <mat-list>
    <h2>Edible</h2>
    <mat-list-item>Fruits</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Vegetables</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Insects</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Fish</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Egg</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Poultry</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Pork</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Sheep</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Beef</mat-list-item>
  </mat-list>
</section>
