<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">
        <mat-icon>home</mat-icon>
        <span class="navigation-label">home</span>
      </a>
      <a mat-list-item href="#">tools</a>
      <a mat-list-item href="#">contacts</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-content [title]="title"></app-content>
  </mat-sidenav-content>
</mat-sidenav-container>
