<section>
  <mat-form-field class="kind-chip-list" appearance="fill">
    <mat-label>fruits:</mat-label>
    <mat-chip-list #chipList aria-label="fruit selection">
      <mat-chip *ngFor="let fruit of fruits" (removed)="delete(fruit)">
        {{fruit.name}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input placeholder="new"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="keyCodes"
        [matChipInputAddOnBlur]="blur"
        (matChipInputTokenEnd)="create($event)">
    </mat-chip-list>
  </mat-form-field>
</section>
