<header>
  <a></a>
  <button></button>
  <input>
  <div>
    <div>
      <a></a>
    </div>
  </div>
</header>

<div>
  <div>
    <nav>
      <div>

      </div>
    </nav>
    <main>
      <div>
        <h1></h1>
        <div>
          <div>
            <button></button>
            <button></button>
          </div>
          <button></button>
        </div>
      </div>
      <canvas></canvas>
      <h2></h2>
      <div>
        <table>

        </table>
      </div>
    </main>
  </div>
</div>
