<section>
  <mat-accordion class="headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          add user data
        </mat-panel-title>
        <mat-panel-description>
          type your name
        </mat-panel-description>
        <mat-icon>manage_accounts</mat-icon>
      </mat-expansion-panel-header>
      <mat-form-field appearance="fill">
        <mat-label>name</mat-label>
        <input matInput>
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
</section>
