<section>
  <form class="input-form">
    <mat-form-field class="input-full-width" appearance="fill">
      <mat-label>example (disabled field)</mat-label>
      <input matInput disabled value="disabled field">
    </mat-form-field>

    <table class="input-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="input-full-width" appearance="fill">
            <mat-label>name</mat-label>
            <input matInput>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="input-full-width" appearance="fill">
            <mat-label>surname</mat-label>
            <input matInput>
          </mat-form-field>
        </td>
      </tr>
    </table>

  </form>
</section>
