<section>
  <mat-card class="kind-card">
    <mat-card-title>favorite fruit</mat-card-title>
    <mat-card-subtitle>select your favorite fruit</mat-card-subtitle>
    <mat-card-content>

      <mat-form-field appearance="fill">
        <mat-label>choose one</mat-label>
        <mat-select [formControl]="selected" [errorStateMatcher]="errorSelectHandler">
          <mat-option *ngFor="let fruit of fruits" [value]="fruit.value">
            {{fruit.viewValue}}
          </mat-option>
        </mat-select>
        <mat-hint>if there is a selection error, it will appear immediately</mat-hint>
        <mat-error *ngIf="selected.hasError('required')">
          a selection is required
        </mat-error>
        <mat-error *ngIf="selected.hasError('pattern') && !selected.hasError('required')">
          sorry, invalid selection
        </mat-error>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button>
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button mat-button>
        <mat-icon>share</mat-icon>
      </button>
    </mat-card-actions>
    <mat-card-footer>
      <p class="kind-paragraph-padding">select your favorite fruit</p>
    </mat-card-footer>
  </mat-card>
</section>
