<div class="text-center">
  <main class="form-signin">
    <form>
      <div class="mb-4 d-flex align-items-center justify-content-center p-3 py-6">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="#06f" class="bi bi-rainbow" viewBox="0 0 16 16">
          <path d="M8 4.5a7 7 0 0 0-7 7 .5.5 0 0 1-1 0 8 8 0 1 1 16 0 .5.5 0 0 1-1 0 7 7 0 0 0-7-7zm0 2a5 5 0 0 0-5 5 .5.5 0 0 1-1 0 6 6 0 1 1 12 0 .5.5 0 0 1-1 0 5 5 0 0 0-5-5zm0 2a3 3 0 0 0-3 3 .5.5 0 0 1-1 0 4 4 0 1 1 8 0 .5.5 0 0 1-1 0 3 3 0 0 0-3-3zm0 2a1 1 0 0 0-1 1 .5.5 0 0 1-1 0 2 2 0 1 1 4 0 .5.5 0 0 1-1 0 1 1 0 0 0-1-1z"/>
        </svg>
      </div>
      <h2 class="h3 mb-3 fw-normal">
        please login
      </h2>
      <div class="form-floating">
        <input type="email" class="form-control" id="emailField" placeholder="john.doe@example.local">
        <label for="emailField">email</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="passwordField" placeholder="password">
        <label for="passwordField">password</label>
      </div>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">login</button>
      <p class="mt-5 mb-3 text-muted">
        {{title}}
      </p>
    </form>
  </main>
</div>
