<div>
  <p>
    <span matBadge="1" matBadgeOverlap="false">sample text with a badge</span>
  </p>
  <p>
    <span matBadge="2" matBadgeOverlap="false" matBadgeSize="large">sample text with a large badge</span>
  </p>
  <p>
    button with a badge on the left
    <button matBadge="3" mat-raised-button color="primary" matBadgePosition="before" matBadgeColor="accent">
      some action
    </button>
  </p>
  <p>
    button toggles badge visibility
    <button matBadge="4"
      mat-raised-button color="warn" matBadgePosition="below after" matBadgeColor="primary" matBadgeSize="large"
      [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()">
      {{buttonText}}
    </button>
  </p>
</div>
