.kind-card
  max-width: 400px

.kind-paragraph-padding
  padding: 0 15px

.kind-h2
  margin: 0 8px 16px

.kind-section
  display: flex
  flex-wrap: wrap
  align-content: center
  align-items: center

.kind-margin
  margin: 8px

.kind-width
  max-width: 180px
  width: 100%

.mat-slider-horizontal
  max-width: 300px
  width: 100%
