<section>
  <mat-card class="kind-card">
    <mat-card-title>slider cockpit</mat-card-title>
    <mat-card-subtitle>slider configuration tool</mat-card-subtitle>
    <mat-card-content>

      <div class="kind-section">
        <mat-form-field class="kind-margin kind-width" appearance="fill">
          <mat-label>value</mat-label>
          <input matInput type="number" [(ngModel)]="value">
        </mat-form-field>
        <mat-form-field class="kind-margin kind-width" appearance="fill">
          <mat-label>min value</mat-label>
          <input matInput type="number" [(ngModel)]="min">
        </mat-form-field>
        <mat-form-field class="kind-margin kind-width" appearance="fill">
          <mat-label>max value</mat-label>
          <input matInput type="number" [(ngModel)]="max">
        </mat-form-field>
        <mat-form-field class="kind-margin kind-width" appearance="fill">
          <mat-label>step size</mat-label>
          <input matInput type="number" [(ngModel)]="step">
        </mat-form-field>
      </div>

      <div class="kind-div">
        <mat-checkbox class="kind-margin" [(ngModel)]="showNotches">
          show notches
        </mat-checkbox>
        <mat-checkbox class="kind-margin" [(ngModel)]="autoNotches" *ngIf="showNotches">
          auto notches
        </mat-checkbox>
        <mat-form-field class="kind-margin kind-width" appearance="fill" *ngIf="showNotches && !autoNotches">
          <mat-label>notch interval</mat-label>
          <input matInput type="number" [(ngModel)]="notchInterval">
        </mat-form-field>
      </div>

      <div class="kind-div">
        <mat-checkbox class="kind-margin" [(ngModel)]="thumbLabel">
          show thumb label
        </mat-checkbox>
      </div>

      <div class="kind-div">
        <mat-checkbox class="kind-margin" [(ngModel)]="vertical">
          vertical
        </mat-checkbox>
        <mat-checkbox class="kind-margin" [(ngModel)]="invert">
          inverted
        </mat-checkbox>
      </div>

      <div class="kind-div">
        <mat-checkbox class="kind-margin" [(ngModel)]="disabled">
          disabled
        </mat-checkbox>
      </div>

    </mat-card-content>
  </mat-card>
</section>

<section>
  <mat-card class="kind-card">
    <mat-card-title>result</mat-card-title>
    <mat-card-subtitle>slider configuration result</mat-card-subtitle>

    <div class="kind-label-container" [class]="vertical ? 'kind-label-vertical' : 'kind-label-horizontal'">
      <label id="kind-name-label" class="kind-name-label">max value</label>
      <label class="kind-value-label">
        {{value}}
      </label>
    </div>

    <div>
      <mat-slider class="kind-margin"
        [max]="max" [min]="min" [step]="step"
        [disabled]="disabled" [invert]="invert" [vertical]="vertical"
        [thumbLabel]="thumbLabel" [tickInterval]="getSliderNotchInterval()"
        [(ngModel)]="value" aria-labelledby="kind-name-label"></mat-slider>
    </div>

    <mat-card-actions>
      <button mat-button>
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button mat-button>
        <mat-icon>share</mat-icon>
      </button>
    </mat-card-actions>
    <mat-card-footer>
      <p class="kind-paragraph-padding">result</p>
    </mat-card-footer>
  </mat-card>
</section>
