<section>
  <mat-card class="kind-card">
    <mat-card-title>slider cockpit</mat-card-title>
    <mat-card-subtitle>slider configuration tool</mat-card-subtitle>
    <mat-card-content>

      <div class="kind-section">
        <mat-form-field class="kind-margin kind-width" appearance="fill">
          <mat-label>value</mat-label>
          <input matInput type="number" [(ngModel)]="value">
        </mat-form-field>
        <mat-form-field class="kind-margin kind-width" appearance="fill">
          <mat-label>min value</mat-label>
          <input matInput type="number" [(ngModel)]="min">
        </mat-form-field>
        <mat-form-field class="kind-margin kind-width" appearance="fill">
          <mat-label>max value</mat-label>
          <input matInput type="number" [(ngModel)]="max">
        </mat-form-field>
        <mat-form-field class="kind-margin kind-width" appearance="fill">
          <mat-label>step size</mat-label>
          <input matInput type="number" [(ngModel)]="step">
        </mat-form-field>
      </div>

      <div class="kind-div"></div>

      <div class="kind-div"></div>

      <div class="kind-div"></div>

      <div class="kind-div"></div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button>
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button mat-button>
        <mat-icon>share</mat-icon>
      </button>
    </mat-card-actions>
    <mat-card-footer>
      <p class="kind-paragraph-padding">footer</p>
    </mat-card-footer>
  </mat-card>
</section>
