<section>
  <mat-card class="kind-card">
    <mat-card-title>title</mat-card-title>
    <mat-card-subtitle>sub-title</mat-card-subtitle>
    <mat-card-content>

      <mat-stepper headerPosition="bottom" #stepper>

        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>name</ng-template>
            <mat-form-field>
              <input matInput placeholder="first name" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup" optional>
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>surname</ng-template>
            <mat-form-field>
              <input matInput placeholder="last name" formControlName="secondCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>back</button>
              <button mat-button matStepperNext>next</button>
            </div>
          </form>
        </mat-step>

        <mat-step></mat-step>

      </mat-stepper>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button>
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button mat-button>
        <mat-icon>share</mat-icon>
      </button>
    </mat-card-actions>
    <mat-card-footer>
      <p class="kind-paragraph-padding">footer</p>
    </mat-card-footer>
  </mat-card>
</section>
