<section>
  <mat-card class="kind-card">
    <mat-card-title>kind</mat-card-title>
    <mat-card-subtitle>multi-row toolbar</mat-card-subtitle>
    <mat-card-content>

      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>app settings</span>
          <span class="kind-spacer"></span>
          <button mat-icon-button class="kind-button">
            <mat-icon aria-hidden="false" aria-label="app settings">
              settings
            </mat-icon>
          </button>
          <button mat-icon-button class="kind-button">
            <mat-icon aria-hidden="false" aria-label="app extension">
              extension
            </mat-icon>
          </button>
          <button mat-icon-button class="kind-button">
            <mat-icon aria-hidden="false" aria-label="resources on cloud">
              cloud
            </mat-icon>
          </button>
          <button mat-icon-button class="kind-button">
            <mat-icon aria-hidden="false" aria-label="cloud sync">
              cloud_sync
            </mat-icon>
          </button>
          <button mat-icon-button disabled class="kind-button">
            <mat-icon aria-hidden="false" aria-label="cloud off">
              cloud_off
            </mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>

      <mat-toolbar color="accent">
        <mat-toolbar-row>
          <span>users admin</span>
          <span class="kind-spacer"></span>
          <mat-icon class="kind-icon" aria-hidden="false" aria-label="add account">person_add</mat-icon>
          <mat-icon class="kind-icon" aria-hidden="false" aria-label="edit accounts">manage_accounts</mat-icon>
          <mat-icon class="kind-icon" aria-hidden="false" aria-label="remove account">person_remove</mat-icon>
          <mat-icon class="kind-icon" aria-hidden="false" aria-label="user verified">verified_user</mat-icon>
          <mat-icon class="kind-icon" aria-hidden="false" aria-label="manage groups">groups</mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>

      <mat-toolbar color="warn">
        <mat-toolbar-row>
          <span>resources admin</span>
          <span class="kind-spacer"></span>
          <mat-icon class="kind-icon" aria-hidden="false" aria-label="favorite resources">favorite</mat-icon>
          <mat-icon class="kind-icon" aria-hidden="false" aria-label="create resource">add_circle</mat-icon>
          <mat-icon class="kind-icon" aria-hidden="false" aria-label="read all resources">format_list_numbered</mat-icon>
          <mat-icon class="kind-icon" aria-hidden="false" aria-label="edit resource">edit</mat-icon>
          <mat-icon class="kind-icon" aria-hidden="false" aria-label="delete resource">delete</mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button>
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button mat-button>
        <mat-icon>share</mat-icon>
      </button>
    </mat-card-actions>
    <mat-card-footer>
      <p class="kind-paragraph-padding">toolbars</p>
    </mat-card-footer>
  </mat-card>
</section>
