<section>
  <mat-drawer-container class="kind-container" autosize>
    <mat-drawer #drawer class="kind-sidenav" mode="side">
      <h3>auto-resizing sidenav</h3>
      <p *ngIf="showFiller">
        {{extraText}}
      </p>
      <button mat-raised-button (click)="showFiller = !showFiller">
        toggle extra text
      </button>
    </mat-drawer>


    <div class="kind-sidenav-content">
      <button mat-button type="button" (click)="drawer.toggle()">
        toggle sidenav
      </button>
    </div>

  </mat-drawer-container>
</section>
