.kind-container
  width: 500px
  height: 300px
  border: 1px solid rgba(0, 0, 0, 0.5)

.kind-sidenav-content
  display: flex
  height: 100%
  align-items: center
  justify-content: center

.kind-sidenav
  padding: 20px
