<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>navbar</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/kind">
        <mat-icon>apps</mat-icon>
        <span class="navigation-label">kind</span>
      </a>
      <a mat-list-item routerLink="/kind-stylized">
        <mat-icon>apps</mat-icon>
        <span class="navigation-label">stylized</span>
      </a>
      <a mat-list-item routerLink="/kind-crud">
        <mat-icon>apps</mat-icon>
        <span class="navigation-label">crud</span>
      </a>
      <a mat-list-item routerLink="/kind-dynamically">
        <mat-icon>apps</mat-icon>
        <span class="navigation-label">dynamically</span>
      </a>
      <a mat-list-item routerLink="/kind-observable">
        <mat-icon>apps</mat-icon>
        <span class="navigation-label">observable</span>
      </a>
      <a mat-list-item routerLink="/kind-expandable">
        <mat-icon>apps</mat-icon>
        <span class="navigation-label">expandable</span>
      </a>
      <a mat-list-item routerLink="/kind-filtering">
        <mat-icon>apps</mat-icon>
        <span class="navigation-label">filtering</span>
      </a>
      <a mat-list-item routerLink="/kind-footer">
        <mat-icon>apps</mat-icon>
        <span class="navigation-label">footer</span>
      </a>
      <a mat-list-item routerLink="/kind-retriever">
        <mat-icon>apps</mat-icon>
        <span class="navigation-label">retriever</span>
      </a>
      <a mat-list-item routerLink="/kind-multiple">
        <mat-icon>apps</mat-icon>
        <span class="navigation-label">multiple</span>
      </a>
      <a mat-list-item routerLink="/kind-sorting">
        <mat-icon>apps</mat-icon>
        <span class="navigation-label">sorting</span>
      </a>
      <a mat-list-item routerLink="/kind-pagination">
        <mat-icon>apps</mat-icon>
        <span class="navigation-label">pagination</span>
      </a>
      <a mat-list-item routerLink="/kind-selection">
        <mat-icon>apps</mat-icon>
        <span class="navigation-label">selection</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-main [title]="title"></app-main>
  </mat-sidenav-content>
</mat-sidenav-container>
