<mat-nav-list>
  <a href="#" mat-list-item (click)="openSheet($event)">
    <span mat-line>
      <mat-icon aria-label="go to home page">home</mat-icon>
    </span>
    <span mat-line>home page</span>
  </a>
  <a href="#" mat-list-item (click)="openSheet($event)">
    <span mat-line>
      <mat-icon aria-label="go to home page">description</mat-icon>
    </span>
    <span mat-line>
      doc
    </span>
  </a>
  <a href="#" mat-list-item (click)="openSheet($event)">
    <span mat-line>
      <mat-icon aria-label="go to home page">contact_page</mat-icon>
    </span>
    <span mat-line>
      contacts
    </span>
  </a>
  <a href="#" mat-list-item (click)="openSheet($event)">
    <span mat-line>
      <mat-icon aria-label="go to home page">help</mat-icon>
    </span>
    <span mat-line>help</span>
  </a>
  <a href="#" mat-list-item (click)="openSheet($event)">
    <span mat-line>
      <mat-icon aria-label="go to home page">more_horiz</mat-icon>
    </span>
    <span mat-line>more</span>
  </a>
</mat-nav-list>
