<section class="kind-section">
  <mat-checkbox class="kind-margin">tick here to disable the checkbox on the right</mat-checkbox>
  <mat-checkbox class="kind-margin" [disabled]="true">DONE</mat-checkbox>
</section>

<section class="kind-section">
  <span>
    <mat-checkbox class="kind-margin">TODO</mat-checkbox>
  </span>

  <span>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-checkbox>TODO</mat-checkbox>
      </mat-list-item>
    </mat-list>
  </span>
</section>
