<section class="kind-section">
  <mat-checkbox class="kind-margin"
    [checked]="kindCheckboxDisabled"  (change)="setSelected($event.checked)">
    {{actionText}}
  </mat-checkbox>
  <mat-checkbox class="kind-margin" [disabled]="kindCheckboxDisabled">
    {{kindText}}
  </mat-checkbox>
</section>

<section class="kind-section">
  <span>
    <mat-checkbox class="kind-margin"
    [checked]="allTaskComplete" [color]="task.color"
    [indeterminate]="someTasksAreComplete()" (change)="setAllTask($event.checked)">
    {{task.name}}
  </mat-checkbox>
  </span>

  <span>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let subtask of task.subtasks">
        <mat-checkbox
          [(ngModel)]="subtask.completed"
          [color]="subtask.color"
          (ngModelChange)="updateAllTaskComplete()">
          {{subtask.name}}
        </mat-checkbox>
      </mat-list-item>
    </mat-list>
  </span>
</section>
