<div>
  <header>
    <div>
      <a></a>
    </div>
    <div>
      <a></a>
    </div>
    <div>
      <a></a>
      <a></a>
    </div>
  </header>
  <div>
    <nav>
      <a></a>
      <a></a>
      <a></a>
      <a></a>
      <a></a>
      <a></a>
    </nav>
  </div>
</div>
<main>
  <div>
    <div>

    </div>
  </div>
  <div>
    <div>
      <div>
        <div>

        </div>
        <div>

        </div>
      </div>
    </div>
    <div>
      <div>
        <div>

        </div>
        <div>

        </div>
      </div>
    </div>
  </div>
  <div>
    <div>

    </div>
    <div>
      <div>
        <div>

        </div>
        <div>

        </div>
        <div>

        </div>
      </div>
    </div>
  </div>
</main>
<footer>
  <p></p>
  <p><a></a></p>
</footer>
