<div class="container">
  <header class="kpi-header lh-1 py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="link-secondary" href="#"></a>
      </div>
      <div class="col-4 text-center">
        <a class="kpi-header-logo text-dark" href="#"></a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="link-secondary" href="#" aria-label="search">
          <svg></svg>
        </a>
        <a class="btn btn-sm btn-outline-secondary" href="#"></a>
      </div>
    </div>
  </header>
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 link-secondary" href="#"></a>
      <a class="p-2 link-secondary" href="#"></a>
      <a class="p-2 link-secondary" href="#"></a>
      <a class="p-2 link-secondary" href="#"></a>
      <a class="p-2 link-secondary" href="#"></a>
      <a class="p-2 link-secondary" href="#"></a>
    </nav>
  </div>
</div>
<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic"></h1>
      <p class="lead my-3"></p>
      <p class="lead mb-0"></p>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <em class="d-inline-block mb-2 text-primary"></em>
          <h3 class="mb-0"></h3>
          <div class="mb-1 text-muted">
            <p></p>
          </div>
          <p class="card-text mb-auto"></p>
          <a href="#" class="stretched-link"></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg></svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <em class="d-inline-block mb-2 text-success"></em>
          <h3 class="mb-0"></h3>
          <div class="mb-1 text-muted">
            <p></p>
          </div>
          <p class="mb-auto"></p>
          <a class="stretched-link" href="#"></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg></svg>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div>
      <h3></h3>
      <article>
        <h2></h2>
        <p></p>
        <p></p>
        <hr>
        <h2></h2>
        <p></p>
        <p></p>
      </article>
      <article>
        <h2></h2>
        <p></p>
        <p></p>
        <hr>
        <h2></h2>
        <p></p>
        <p></p>
      </article>
      <article>
        <h2></h2>
        <p></p>
        <p></p>
        <hr>
        <h2></h2>
        <p></p>
        <p></p>
      </article>
      <nav>
        <a></a>
        <a></a>
      </nav>
    </div>
    <div>
      <div>
        <div>
          <h4></h4>
          <p></p>
        </div>
        <div>
          <h4></h4>
          <ol>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
          </ol>
        </div>
        <div>
          <h4></h4>
          <ol>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</main>
<footer>
  <p></p>
  <p><a></a></p>
</footer>
