<div>
  <header>
    <div>
      <a></a>
    </div>
    <div>
      <a></a>
    </div>
    <div>
      <a></a>
      <a></a>
    </div>
  </header>
  <div>
    <nav>
      <a></a>
      <a></a>
      <a></a>
      <a></a>
      <a></a>
      <a></a>
    </nav>
  </div>
</div>
<main>
  <div>
    <div>
      <h1></h1>
      <p></p>
      <p></p>
    </div>
  </div>
  <div>
    <div>
      <div>
        <div>
          <strong></strong>
          <h3></h3>
          <div></div>
          <p></p>
          <a></a>
        </div>
        <div>
          <svg></svg>
        </div>
      </div>
    </div>
    <div>
      <div>
        <div>
          <strong></strong>
          <h3></h3>
          <div></div>
          <p></p>
          <a></a>
        </div>
        <div>
          <svg></svg>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div>
      <h3></h3>
      <article>
        <h2></h2>
        <p></p>
        <p></p>
        <hr>
        <h2></h2>
        <p></p>
        <p></p>
      </article>
      <article>
        <h2></h2>
        <p></p>
        <p></p>
        <hr>
        <h2></h2>
        <p></p>
        <p></p>
      </article>
      <article>
        <h2></h2>
        <p></p>
        <p></p>
        <hr>
        <h2></h2>
        <p></p>
        <p></p>
      </article>
      <nav>
        <a></a>
        <a></a>
      </nav>
    </div>
    <div>
      <div>
        <div>
          <h4></h4>
          <p></p>
        </div>
        <div>
          <h4></h4>
          <ol>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
          </ol>
        </div>
        <div>
          <h4></h4>
          <ol>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</main>
<footer>
  <p></p>
  <p><a></a></p>
</footer>
