<div>
  <!-- button container -->
  <div class="buttons-container">
    <button>START</button>
    <button>STOP</button>
  </div>

  <!-- card container -->
  <div class="cards-container">
    <!-- input streams -->
    <div class="input-stream">
      <div class="input-stream__item" *ngFor="let item of inputDataStream">
        {{item}}
      </div>
    </div>
    <!-- output stream -->
    <div class="output-stream">
      <div class="input-stream__item" *ngFor="let item of outputDataStream">
        {{item}}
      </div>
    </div>
  </div>
</div>
