<section>
  <mat-card class="kind-card">
    <mat-card-title>name</mat-card-title>
    <mat-card-subtitle>Your first and last name, please</mat-card-subtitle>
    <mat-card-content>

      <mat-vertical-stepper [linear]="false" #stepper [animationDuration]="duration.value">

        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>name</ng-template>
            <mat-form-field>
              <input matInput placeholder="first name" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup" optional>
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>surname</ng-template>
            <mat-form-field>
              <input matInput placeholder="last name" formControlName="secondCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>back</button>
              <button mat-button matStepperNext>next</button>
            </div>
          </form>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>done</ng-template>
          are you done
          <div>
            <button mat-button matStepperPrevious>back</button>
            <button mat-button (click)="stepper.reset()">reset</button>
          </div>
        </mat-step>

      </mat-vertical-stepper>

    </mat-card-content>
    <mat-card-actions>
      <mat-form-field class="kind-input-wrapper" appearance="fill">
        <mat-label for="duration">animation duration:</mat-label>
      <input matInput id="duration" value="2000" type="number" min="0" step="100" #duration>
      </mat-form-field>
    </mat-card-actions>
    <mat-card-footer>
      <p class="kind-paragraph-padding">Your first and last name, please</p>
    </mat-card-footer>
  </mat-card>
</section>
