<section>
  <mat-card class="kind-card">
    <mat-card-title>multiple</mat-card-title>
    <mat-card-subtitle>table of elements</mat-card-subtitle>
    <mat-card-content>

      <!--table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="atomic">
          <th mat-header-cell *matHeaderCellDef>
            Atomic
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.atomic}}
          </td>
        </ng-container>

        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef>
            Symbol
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.symbol}}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>
            Name
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.name}}
          </td>
        </ng-container>

        <ng-container matColumnDef="group">
          <th mat-header-cell *matHeaderCellDef>
            Group
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.group}}
          </td>
        </ng-container>

        <ng-container matColumnDef="mass">
          <th mat-header-cell *matHeaderCellDef>
            Mass
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.mass}}
          </td>
        </ng-container>

        <ng-container matColumnDef="radioactive">
          <th mat-header-cell *matHeaderCellDef>
            Radioactive
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.radioactive}}
          </td>
        </ng-container>

        <ng-container matColumnDef="artificially">
          <th mat-header-cell *matHeaderCellDef>
            Artificially
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.artificially}}
          </td>
        </ng-container>

        <tr mat-header-row></tr>
        <tr mat-row></tr>

      </table-->

    </mat-card-content>
    <mat-card-actions>
      <button mat-button>
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button mat-button>
        <mat-icon>share</mat-icon>
      </button>
    </mat-card-actions>
    <mat-card-footer>
      <p class="kind-paragraph-padding">multiple</p>
    </mat-card-footer>
  </mat-card>
</section>
