<div class="home" [formGroup]="boxForm">
    <div class="row">
        <div class="col">
            <label for="textColorSelector"></label>
            <select id="textcolorSelector">
                <option></option>
                <option></option>
            </select>
        </div>
        <div class="col">
            <label for="borderRadiusSelector"></label>
            <select id="borderRadiusSelector">
                <option></option>
                <option></option>
            </select>
        </div>
        <div class="col">
            <label for="sizeSelector"></label>
            <select id="sizeSelector">
                <option></option>
                <option></option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="box__text">
                <p><em>todo</em></p>
            </div>
        </div>
    </div>
</div>
