<div class="home" [formGroup]="boxForm">
    <div class="row">
        <div class="col">
            <label></label>
            <select>
                <option></option>
                <option></option>
            </select>
        </div>
        <div class="col">
            <label></label>
            <select>
                <option></option>
                <option></option>
            </select>
        </div>
        <div class="col">
            <label></label>
            <select>
                <option></option>
                <option></option>
            </select>
        </div>
        <div class="col">
            <label></label>
            <select>
                <option></option>
                <option></option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="box__text">
                <p><em>todo</em></p>
            </div>
        </div>
    </div>
</div>
