<div class="home" [formGroup]="boxForm">
    <div class="row">
        <div class="col">
            <label for="textColorSelector">text color</label>
            <select id="textcolorSelector">
                <option value="">choices</option>
                <option [value]="option"></option>
            </select>
        </div>
        <div class="col">
            <label for="borderRadiusSelector">border radius</label>
            <select id="borderRadiusSelector">
                <option value="">choices</option>
                <option [value]="option"></option>
            </select>
        </div>
        <div class="col">
            <label for="sizeSelector">size</label>
            <select id="sizeSelector">
                <option value="">choices</option>
                <option [value]="value"></option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="box__text">
                <p><em>todo</em></p>
            </div>
        </div>
    </div>
</div>
