<section>
  <mat-card>
      <mat-card-header>
          <mat-card-title>kind iconic</mat-card-title>
          <mat-card-subtitle>iconic menu</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        an example of a menu represented by an icon
      </mat-card-content>
      <mat-card-actions align="start">
          <button mat-button (click)="onAction1">menu</button>

      </mat-card-actions>
      <mat-card-footer>
        example of a menu
      </mat-card-footer>
  </mat-card>
</section>
