<section>
  <mat-chip-list aria-label="icon selection">
    <mat-chip>
      <mat-chip-avatar>
        <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon>
      </mat-chip-avatar>
      home
    </mat-chip>
    <mat-chip>
      <mat-chip-avatar>
        <mat-icon aria-hidden="false" aria-label="home icon">settings</mat-icon>
      </mat-chip-avatar>
      settings
    </mat-chip>
    <mat-chip>
      <mat-chip-avatar>
        <mat-icon aria-hidden="false" aria-label="home icon">star</mat-icon>
      </mat-chip-avatar>
      star
    </mat-chip>
    <mat-chip>
      <mat-chip-avatar>
        <mat-icon aria-hidden="false" aria-label="home icon">token</mat-icon>
      </mat-chip-avatar>
      token
    </mat-chip>
  </mat-chip-list>
</section>
