<section>

  <mat-form-field appearance="fill">
    <mat-label>list length</mat-label>
    <input matInput [(ngModel)]="length" type="number">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>page size</mat-label>
    <input matInput [(ngModel)]="pageSize" type="number">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>page size options</mat-label>
    <input
      matInput
      [ngModel]="pageSizeOptions"
      (ngModelChange)="setPageSizeOptions($event)"
      [ngModelOptions]="{updateOn: 'blur'}"
      placeholder="example 1,2,3,5,8,13,21,34,55,89,144">
  </mat-form-field>

  <mat-paginator [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = $event"
    aria-label="Select page">
  </mat-paginator>

</section>
