<section>
  <mat-card>
      <mat-card-header>
          <mat-card-title>kind</mat-card-title>
          <mat-card-subtitle>kind of this app</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          Initial sample of this application.
      </mat-card-content>
      <mat-card-actions align="start">
        <button mat-button [matMenuTriggerFor]="menu">sample</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>sour cherries</button>
          <button mat-menu-item>blackberries</button>
          <button mat-menu-item>raspberries</button>
          <button mat-menu-item>blueberries</button>
        </mat-menu>
      </mat-card-actions>
      <mat-card-footer>
        example of menu highlighted by simple text
      </mat-card-footer>
  </mat-card>
</section>
