<section>
  <mat-card>
    <mat-card-header>
        <mat-card-title>kind positioning</mat-card-title>
        <mat-card-subtitle>menu positioning</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        Example with four types of positioning.
    </mat-card-content>
    <mat-card-actions align="start">

      <button mat-button [matMenuTriggerFor]="aboveMenu">above</button>
      <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item>sour cherries</button>
        <button mat-menu-item>blackberries</button>
        <button mat-menu-item>raspberries</button>
        <button mat-menu-item>blueberries</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="belowMenu">below</button>
      <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item>sour cherries</button>
        <button mat-menu-item>blackberries</button>
        <button mat-menu-item>raspberries</button>
        <button mat-menu-item>blueberries</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="beforeMenu">before</button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item>sour cherries</button>
        <button mat-menu-item>blackberries</button>
        <button mat-menu-item>raspberries</button>
        <button mat-menu-item>blueberries</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="afterMenu">after</button>
      <mat-menu #afterMenu="matMenu" xPosition="after">
        <button mat-menu-item>sour cherries</button>
        <button mat-menu-item>blackberries</button>
        <button mat-menu-item>raspberries</button>
        <button mat-menu-item>blueberries</button>
      </mat-menu>

    </mat-card-actions>
    <mat-card-footer>
      menu with four types of positioning
    </mat-card-footer>
  </mat-card>
</section>
